@mixin button {
    outline: none;
    height: 32px;
    text-align: center;
    width: 124px;
    border-radius: 40px;
    background: #fff;
    border: 1px solid $color-blue;
    color: $color-blue;
    text-shadow: 0;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    transition: 1s;
}

@mixin logo($file: url(../images/visa-logo.png)) {
    display: block;
    background-image: $file;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 50px;
    height: 35px;
    background-size: 100%;
}

@mixin h4 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
}

@mixin flex-row {
    Display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@mixin flex-column {
    Display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@mixin text {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.747);
}

@mixin input {
    background-color: $card-color;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 2px 2px 2px 9px;
    outline: none !important;
    &::placeholder {
        color: white;
        opacity: 1;
    }
}